[Desktop Entry]
Version=1.0
Name=LCleaner
Type=Application
Comment=Clean your Linux system with ease
Terminal=false
Exec=pkexec /usr/bin/python3 /usr/bin/lcleaner.py
Icon=lcleaner
StartupNotify=true
Categories=System;Utility;
GenericName=System Cleaner
Keywords=cleaner;system;cache;trash;
